<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Produto</title>
</head>
<body>

<h1>
    Welcome to ProductsCreate
</h1>

<form >
    <label for="name">Product name</label>
    <input type="text" id="name" name="name">

    <label for="price">Product price</label>
    <input type="number" id="price" name="price">

    <label for="description">Product description</label>
    <input type="text" id="description" name="description">

    <label for="quantity">Product quantity</label>
    <input type="number" id="quantity" name="quantity">

    <label for="img">Product image</label>
    <input type="file" id="img" name="img">

    <button type="button" id="createBtn">Create Product</button>
</form>

<script src="/admin/products/create.js"></script>

</body>
</html>